* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
  font-family: "MuseoSansCyrl300";
  src: url("./fonts/MuseoSansCyrl300.eot");
  src: url("./fonts/MuseoSansCyrl300.eot?#iefix")format("embedded-opentype"),
  url("./fonts/MuseoSansCyrl300.woff") format("woff");
    font-style: normal;
  font-weight: 300;
  
}
@font-face { 
  font-family: "MuseoSansCyrl500";
  src:   url("./fonts/MuseoSansCyrl500.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face { 
  font-family: "MuseoSansCyrl700";
src:  url("./fonts/MuseoSansCyrl700.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
  }

.thanks_block .choose_mattress_button {
  position: static;

}
a{
  transition: 0.3s;
}
a:hover{
scale: 1.1;
}

.thanks_block {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 400px;
  text-align: center;
}

.thanks_block p{
  font-size: 36px;
  margin-bottom: 30px;
}

input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: none;
}

.white_line_container {
  width: 90%;
  max-width: 1687px;
  margin: auto;
  display: flex;
}

.white_line_container .white_line {
  width: 51px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 2px;
  margin: 27px 0 0 0;
}

.bold_white_offer {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 52.5px;
  color: #FFFFFF;
}

.white_comm {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
  max-width: 481px;
}

.blue_line_container {
  width: 90%;
  max-width: 1687px;
  margin: auto;
  display: flex;
}

.blue_line {
  width: 51px;
  height: 4px;
  background: #29ABE2;
  border-radius: 2px;
  margin: 27px 0 0 0;
}

.bold_block_offer {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 52.5px;
  color: #353535;
}

.block_comment {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  max-width: 481px;
  color: #353535;
  margin: 5px 0 0 0;
}

.choose_mattress_button {
  font-family: 'MuseoSansCyrl700';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 62px;
  border-radius: 31px;
  background: linear-gradient(0deg, #29ABE2 0%, #59C6F4 100%);
  font-size: 16px;
  /* font-weight: 700; */
  line-height: 19.2px;
  text-align: center;
  color: white;
  position: absolute;
}

a,
button,
p,
b {
  font-family: "MuseoSansCyrl300" ;
  text-decoration: none;
}

header {
  max-width: 1600px;
  width: 90%;
  margin: auto;
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: space-between;
}

header .nav_links {
  display: flex;
  max-width: 867px;
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15px;
  align-items: center;
}

header .nav_links a {
  font-size: 14px;
  color: #272727;
  font-weight: 400;
  margin: 5px 7px;
  line-height: 16.8px;
}

header .call_us {
  display: flex;
  width: 158px;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 0;
}

header .call_us b {
  font-family: "MuseoSansCyrl500";
  font-size: 16px;
  white-space: nowrap;
  margin: 0 0 0 10px;
}

header .button_call_me {
  font-family: "MuseoSansCyrl500";

  padding: 17px 35px;
  border-radius: 27px;
  border: 2px solid #29ABE2;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  font-size: 15px;
  line-height: 18px;
  color: #29ABE2;
}

.main_offer_background {
  background: url(./images/first_screen_back.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 119px 0 89px 0;
  background-position: center;
}

.main_offer {
  max-width: 1600px;
  width: 90%;
  margin: auto;
}

.main_offer .bold_offer {
  font-size: 60px;
  font-weight: 700;
  line-height: 71.4px;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #353535;
  width: 620px;
}

.main_offer .offer_comment {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  max-width: 546px;
}

.main_offer .button_space {
  bottom: 20px;
  position: relative;
  width: 261px;
  height: 164px;
  border-radius: 31px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_offer .ellipse_container {
  width: 164px;
  height: 164px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_offer .ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.main_offer .ellipse3 {
  width: 164px;
  height: 164px;
  border: 1px solid #59C6F40F;
}

.main_offer .ellipse2 {
  width: 123px;
  height: 123px;
  border: 1px solid #59C6F42B;
}

.main_offer .ellipse1 {
  width: 88px;
  height: 88px;
  border: 1px solid #59C6F45E;
}

.main_offer .button_shadow {
  width: 183px;
  height: 54px;
  box-shadow: 0px 27px 32px 0px #29ABE23B;
  position: absolute;
  top: 32%;
  left: 19%;
}

.main_offer .show_more {
  font-family: 'MuseoSansCyrl500';
  display: flex;
  align-items: start;
  margin: 113px 0 0 0;
}

.main_offer .show_more .more_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_offer .show_more a {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.66px;
  text-align: left;
  color: #29ABE2;
  margin: 6px 0 0 5px;
}

.advantages {
  background: #29ABE2;
  padding: 0 0 83px 0;
}

.advantages .white_line_container {
  padding: 110px 0 0 0;
}

.advantages .white_line_container .advantages_container {
  max-width: 1600px;
  width: 90%;
  margin: auto;
}

.advantages .white_line_container .advantages_container .adv_comment {
  margin: 5px 0 55px 0;
}

.advantages .white_line_container .advantages_container .advantages_list {
  max-width: 1026px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(219px, 4fr));
  gap: 16px;
}

.advantages .white_line_container .advantages_container .advantages_list .advantage {
  text-align: center;
  color: white;
}

.advantages .white_line_container .advantages_container .advantages_list .advantage .adv_title {
  font-size: 18px;
  line-height: 27px;
  font-family: 'MuseoSansCyrl700';
}

.advantages .white_line_container .advantages_container .advantages_list .advantage .adv_description {
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  text-align: center;
}

.our_products {
  padding: 73px 0 0 0;
}

.our_products .blue_line_container .products_container {
  max-width: 1600px;
  width: 90%;
  margin: auto;
}

.our_products .blue_line_container .products_container .prod_comment {
  margin: 5px 0 55px 0;
}

.our_products .blue_line_container .products_container .product_list {
  max-width: 99%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 4fr));
  gap: 16px;
}

.our_products .blue_line_container .products_container .product_list .product_item {
  border: 1px solid #F9F9F9;
  box-shadow: 0px 2px 9px 0px #29ABE21F;
  margin: 0 auto 16px auto;
  width: 280px;
}

.our_products .blue_line_container .products_container .product_list .product_item img {
  width: 100%;
  margin: auto;
  text-align: center;
}

.our_products .blue_line_container .products_container .product_list .product_item .prod_info {
  max-width: 246px;
  margin: auto;
}

.our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_description {
  padding: 0 0 35px 0;
  border-bottom: 1px solid #F3F3F3;
}

.our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_description .prod_title {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #353535;
  font-family: 'MuseoSansCyrl700';

}

.our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_description .prod_structure .structure_title {
  font-size: 12px;
  font-weight: 300;
  line-height: 14.4px;
  text-align: left;
  color: #9F9F9F;
  margin: 15px 0 0 0;
}

.our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_description .prod_structure .structure_point {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  color: #353535;
  margin: 5px 0;
}

.our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_price {
  padding: 23px 0 22px 0;
}

.our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_price .price {
  font-family: 'MuseoSansCyrl700';
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
}

.our_products .blue_line_container .products_container .button_show_all_vars {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 62px;
  border-radius: 31px;
  background: linear-gradient(0deg, #29ABE2 0%, #59C6F4 100%);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
  color: white;
  margin: 41px auto 79px auto;
}

.honest_pay_terms {
  background: url(./images/honest_payment_block_back.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 83px 0 89px 0;
  background-position: center;
}

.honest_pay_terms .blue_line_container .honest_container {
  max-width: 1600px;
  width: 90%;
  margin: auto;
}

.honest_pay_terms .blue_line_container .honest_container .terms_comment {
  margin: 5px 0 36px 0;
}

.honest_pay_terms .blue_line_container .honest_container .terms {
  max-width: 329px;
}

.honest_pay_terms .blue_line_container .honest_container .terms .t_point {
  display: flex;
  align-items: center;
  margin: 0 0 25px 0;
}

.honest_pay_terms .blue_line_container .honest_container .terms .t_point p {
  margin: 0 0 0 25px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.honest_pay_terms .blue_line_container .honest_container .choose_mattress_button_padding {
  margin: 56px 0 0 0;
  position: relative;
}

.prod_feedback {
  padding: 85px 0;
}

.prod_feedback .feedback_container {
  max-width: 1600px;
  width: 90%;
  margin: auto;
}

.prod_feedback .feedback_container .feedback_list {
  width: 100%;
  margin-top: 47px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.prod_feedback .feedback_container .feedback_list .feedback {
  box-shadow: 0px 2px 16px 0px #559CFF14;
  max-width: 270px;
  text-align: center;
  padding: 25px;
  margin: 0 0 20px 0;
}

.prod_feedback .feedback_container .feedback_list .feedback img {
  box-shadow: 0px 8px 13px 0px #00000030;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  height: 120px;
}

.prod_feedback .feedback_container .feedback_list .feedback .person_name {
  font-size: 16px;
  font-family: 'MuseoSansCyrl700';
  line-height: 21.6px;
  color: #363636;
  margin: 18px 0 1px 0;
}

.prod_feedback .feedback_container .feedback_list .feedback .purchased_prod {
  font-family: 'MuseoSansCyrl500';

  font-size: 14px;
  line-height: 18.9px;
  color: #29ABE2;
}

.prod_feedback .feedback_container .feedback_list .feedback .person_feedback {
  font-size: 14px;
  font-weight: 300;
  line-height: 19.6px;
  color: #373737;
  margin: 11px 0 13px 0;
}

.prod_feedback .feedback_container .feedback_list .feedback .date_feedback {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  color: #9F9F9F;
}

.our_contacts {
  background: #29ABE2;
  position: relative;
}

.our_contacts .white_line_container {
  padding: 59px 0 85px 0;
}

.our_contacts .white_line_container .contacts_container {
  max-width: 1600px;
  width: 90%;
  margin: auto;
}

.our_contacts .white_line_container .contacts_container .contacts_container_left form {
  margin: 34px 0 0 0;
  max-width: 311px;
}

.our_contacts .white_line_container .contacts_container .contacts_container_left form .form_title {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #FFFFFF;
  margin: 0 0 14px 0;
}

.our_contacts .white_line_container .contacts_container .contacts_container_left form .user_name,
.our_contacts .white_line_container .contacts_container .contacts_container_left form .user_tel {
  width: 100%;
  height: 50px;
  background: #76D6FFF7;
  color: white;
  border-radius: 25px;
  padding: 15px 0 14px 25px;
  margin: 0 0 13px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.our_contacts .white_line_container .contacts_container .contacts_container_left form .user_name::placeholder,
.our_contacts .white_line_container .contacts_container .contacts_container_left form .user_tel::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.our_contacts .white_line_container .contacts_container .contacts_container_left form .form_hint {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  text-align: left;
  color: white;
}

.our_contacts .white_line_container .contacts_container .contacts_container_left form .button_submit_form {
  max-width: 241px;
  height: 62px;
  width: 100%;
  border-radius: 31px;
  background: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: #4E4E4E;
  margin: 18px 0 0 0;
  transition: 0.3s;
  cursor: pointer;
}
.button_submit_form:hover{
  scale: 1.1;
}

.contacts_container_right {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  height: 100%;
}

.contacts_container_right iframe {
  width: 100%;
  height: 100%;
}

footer {
  background: #0F4861;
  padding: 51px 0 40px 0;
}

footer .footer_container {
  max-width: 1600px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 0 54px 0;
  flex-wrap: wrap;
}

footer .footer_container .links_foot {
  display: flex;
  flex-direction: column;
}

footer .footer_container .links_foot a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #79A0B0;
  margin: 0 0 20px 0;
}

footer .footer_container .address_list .address_title {
  font-family: 'MuseoSansCyrl500';

  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
  color: #79A0B0;
  margin: 0 0 15px 0;
}

footer .footer_container .address_list .address_point {
  font-size: 12px;
  line-height: 14.4px;
  text-align: left;
  color: #FFFFFF;
  margin: 0 0 8px 0;
  font-family: 'MuseoSansCyrl500';

}

footer .footer_container .call_me {
  display: flex;
  width: 158px;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}

footer .footer_container .call_me b {
  font-size: 16px;
  white-space: nowrap;
  margin: 0 0 0 10px;
  color: #FFFFFF;
}

footer .footer_container .call_me a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 6px;
}

footer .rights {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
  color: white;
}

@media (max-width: 1300px) {
  .white_comm {
    max-width: 400px;
  }

  .contacts_container_right {
    left: 60%;
  }
}

@media (max-width: 1200px) {
  .advantages .white_line_container .advantages_container .advantages_list {
    max-width: 673px;
  }

  .prod_feedback .feedback_container .feedback_list {
    grid-template-columns: repeat(2, 1fr);
    margin: 47px auto 0 auto;
  }

  .prod_feedback .feedback_container .feedback_list .feedback {
    margin: auto;
  }
}

@media (max-width: 1000px) {
  .advantages .white_line_container .advantages_container .advantages_list .advantage .adv_title {
    font-size: 16px;
  }

  .advantages .white_line_container .advantages_container .advantages_list .advantage .adv_description {
    font-size: 14px;
  }

  footer .footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}

@media (max-width: 900px) {
  .main_offer .offer_comment {
    max-width: 400px;
  }

  .honest_pay_terms .blue_line_container .honest_container .terms {
    max-width: 271px;
  }
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    margin: 15px auto 0 auto;
    height: auto;
  }

  header .nav_links {
    max-width: none;
    width: auto;
    margin: 15px 0;
  }

  header .call_us {
    margin: auto auto 10px auto;
  }

  header .button_call_me {
    padding: 9px 35px;
  }

  .our_products .blue_line_container .products_container .product_list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 4fr));
  }

  .our_products .blue_line_container .products_container .product_list .product_item {
    width: auto;
  }

  .main_offer_background {
    padding: 32px 0 89px 0;
  }

  .main_offer .bold_offer {
    font-size: 36px;
    font-weight: 700;
    line-height: 35.4px;
    margin: 0 0 10px 0;
    width: 400px;
  }

  .main_offer .offer_comment {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }

  .choose_mattress_button {
    width: 222px;
    height: 47px;
  }

  .main_offer .button_shadow {
    width: 155px;
    height: 33px;
  }

  .our_products .blue_line_container .products_container {
    width: 87%;
  }

  .honest_pay_terms .blue_line_container .honest_container {
    width: 87%;
  }

  .honest_container {
    width: 87%;
  }

  .bold_block_offer {
    line-height: 34.5px;
    max-width: 374px;
  }

  .honest_pay_terms .blue_line_container .honest_container .terms_comment {
    width: 300px;
  }

  .honest_pay_terms .blue_line_container .honest_container .terms .t_point p {
    margin: 0 0 0 15px;
    font-size: 14px;
    line-height: 20px;
  }

  .honest_pay_terms .blue_line_container .honest_container .terms img {
    width: 30px;
  }

  .honest_pay_terms .blue_line_container .honest_container .terms {
    max-width: 236px;
  }

  .prod_feedback .feedback_container {
    width: 87%;
  }

  .our_contacts .white_line_container .contacts_container {
    width: 87%;
  }

  .our_contacts .white_line_container .contacts_container .contacts_container_left .white_comm {
    max-width: 274px;
  }

  .our_contacts .white_line_container .contacts_container .contacts_container_left form {
    max-width: 267px;
  }

  .our_contacts .white_line_container .contacts_container .contacts_container_left form .button_submit_form {
    height: 43px;
  }
}

@media (max-width: 700px) {
  .blue_line {
    width: 39px;
  }

  .white_line_container .white_line {
    width: 39px;
  }

  footer .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .bold_white_offer {
    font-size: 27px;
  }

  .white_comm {
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0 0;
  }

  .bold_block_offer {
    font-size: 27px;
  }

  .block_comment {
    font-size: 12px;
    line-height: 15px;
  }

  .advantages .white_line_container {
    padding: 37px 0 0 0;
  }

  .advantages .white_line_container .advantages_container .adv_comment {
    margin: 5px 0 25px 0;
  }

  .advantages .white_line_container .advantages_container .advantages_list .advantage img {
    width: 30px;
  }

  .advantages .white_line_container .advantages_container .advantages_list .advantage .adv_title {
    font-size: 14px;
    line-height: 19px;
  }

  .advantages .white_line_container .advantages_container .advantages_list .advantage .adv_description {
    font-size: 12px;
    line-height: 19.4px;
  }

  .our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_description .prod_title {
    font-size: 14px;
  }

  .our_products .blue_line_container .products_container .button_show_all_vars {
    height: 51px;
  }

  .our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_description .prod_structure .structure_point {
    font-size: 12px;
    line-height: 10.6px;
  }

  .our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_description {
    padding: 0 10px 20px 10px;
  }

  .our_products .blue_line_container .products_container .product_list .product_item .prod_info .prod_price {
    padding: 10px;
  }

  .advantages {
    padding: 0 0 35px 0;
  }

  .our_products {
    padding: 34px 0 0 0;
  }

  .honest_pay_terms {
    padding: 40px 0;
  }

  .prod_feedback {
    padding: 36px 0;
  }

  .prod_feedback .feedback_container .feedback_list .feedback .person_feedback {
    font-size: 12px;
    line-height: 13.6px;
  }
}

@media (max-width: 600px) {
  footer .footer_container {
    display: flex;
  }

  .bold_block_offer,
  .bold_white_offer {
    line-height: 23.5px;
    font-size: 20px;
    max-width: none;
  }

  .blue_line,
  .white_line {
    display: none;
  }

  .honest_pay_terms .blue_line_container .honest_container .terms .t_point {
    margin: 0 0 10px 0;
  }

  .honest_pay_terms .blue_line_container .honest_container .terms .t_point p {
    margin: 0 0 0 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .honest_pay_terms {
    background-position: left -116px center;
  }

  .our_contacts .white_line_container .contacts_container .contacts_container_left form .user_name,
  .our_contacts .white_line_container .contacts_container .contacts_container_left form .user_tel {
    width: auto;
    height: auto;
    padding: 9px 0 9px 25px;
  }

  .our_contacts .white_line_container .contacts_container .contacts_container_left form .form_hint {
    font-size: 9px;
    line-height: 12.8px;
  }

  header .logo_img {
    width: 80px;
  }

  header .button_call_me {
    padding: 7px 23px;
  }

  .contacts_container_right {
    position: static;
    height: auto;
  }

  .our_contacts .white_line_container {
    padding: 20px 0 20px 0;
  }

  .our_contacts .white_line_container .contacts_container .contacts_container_left .white_comm {
    max-width: none;
  }

  .our_contacts .white_line_container .contacts_container .contacts_container_left form {
    max-width: 311px;
    margin: 34px auto 0 auto;
    text-align: center;
  }

  .our_contacts .white_line_container .contacts_container .contacts_container_left form .user_name,
  .our_contacts .white_line_container .contacts_container .contacts_container_left form .user_tel {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .prod_feedback .feedback_container .feedback_list {
    grid-template-columns: repeat(1, 1fr);
  }

  .prod_feedback .feedback_container .feedback_list .feedback {
    max-width: 433px;
  }

  .prod_feedback .feedback_container .feedback_list .feedback img {
    width: 80px;
    height: 80px;
  }

  .main_offer_background {
    background: none;
  }

  .main_offer_background .main_offer p {
    text-align: center;
    margin: auto;
  }

  .main_offer_background .main_offer .bold_offer {
    margin-bottom: 15px;
    width: auto;
    font-size: 27px;
    line-height: 24.4px;
  }

  .main_offer_background .main_offer .button_space {
    margin: auto;
  }

  .main_offer_background {
    padding: 32px 0 15px 0;
  }

  .main_offer .show_more {
    margin: auto;
    width: fit-content;
  }

  footer .footer_container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  footer .footer_container .links_foot a {
    text-align: center;
  }

  footer .footer_container .address_list {
    margin: 0 15px;
  }

  footer .footer_container .address_list .address_point,
  footer .footer_container .address_list .address_title {
    text-align: center;
  }

  footer .footer_container .call_me {
    justify-content: center;
    align-items: center;
  }

  .honest_pay_terms .blue_line_container .honest_container .terms_comment {
    width: auto;
  }
}